<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey Admin!</h1>
    <p>
      An article "<%= @article.title %>" has been successfully created.<br>
    </p>
    <p>
      Please review the article <%= @url %>.
    </p>
    <p>Thanks!</p>
  </body>
</html>