<article class='comment'>
    <p> 
        <strong style="color:rgb(8, 8, 161)"><%= comment.commenter %></strong><br>
        <%= comment.body %>
    </p>
    <%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?"}, style:'color:red; font-size:0.8rem'%>
</article>